body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: #d44f74;
}

.yellow {
    background-color: #fa8f3a;
}

.green {
    background-color: #57a0b8;

}

.purple {
    background-color: #7693f8;

}

.flash{
    background-color: white;
}

.userflash{
    background-color: rgb(236, 195, 195);
}